:root{
    --main-bg-color: black;
    --main-border-color: limegreen;
    --user-color: teal;
    --comp-color: yellow;

}
body{
    background-color: var(--main-bg-color);
    text-align: center;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px green;;
    }
    
    to {
      text-shadow: 0 0 50px green;
    }
  }

h1{
    text-shadow: 0 0 20px green;
    color: limegreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10vh;
    animation: glow 1s ease-in-out infinite alternate;
    
}

#container{
    display: grid;
    background-color: var(--main-bg-color);

}

#gameboard{
    display: grid;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    

}

#space1, #space2, #space3, #space4, #space5, #space6, #space7, #space8, #space9{
    
    padding: 2vh;
    
}

#space1, #space4, #space7, #space2, #space5, #space8{
    border-right: 1px solid green;
    border-radius: 6px;

}

#space1, #space4, #space2, #space5, #space3, #space6{
    border-bottom: 1px solid green;
    border-radius: 6px;

}

#gameboard *{
    text-align: center;
    font-size: xx-large;
}

h3{
    color: lime;
}

